---
---
@charset "utf-8";

// Variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$text-dark-color:  #000;
$text-light-color: #808080;
$darkest-color:    #3c4a77;
$darker-color:     #445485;    // a:hover
$dark-color:       #50649f;
$main-color:       #566cac;    // a
$light-color:      #7688bc;
$lightest-color:   #ebf0ff;    // tr:hover
$border-color:     #dbdbdb;
$border:           1px solid $border-color;

$screen-xl: 1200px;
$screen-lg: 990px;
$screen-md: 760px;
$screen-sm: 580px;


// Imports
@import
    "libs/mixins.scss",
    "sass/base.scss",
    "sass/styles.scss",
    "sass/header.scss",
    "sass/navigation.scss",
    "sass/footer.scss",
    "sass/page.scss",
    "sass/post.scss",
    "sass/item.scss",
    "sass/responsive.scss"
;
