body {
  background: url('../images/pxbg.png') repeat;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: $main-color;
  text-decoration: none;
}
a:hover, a:focus {
  color: $darker-color;
}

h1, h2, h3, h4, h5 {
  color: $text-dark-color;
  font-weight: 300;
  margin: 0;
}
h1 {
  font-size: 38px;
  margin: 4px 0 40px;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
h3 {
  font-size: 22px;
  margin-bottom: 30px;
}
h4 {
  font-size: 18px;
}

p {
  color: $text-light-color;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  line-height: 19px;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

button {
  outline: none !important;
}
