footer {
  border-top: $border;
  background: #fff;
}
.up-footer {
  padding: 30px 30px 0;
}
.footer-widgets {
  margin-bottom: 30px;

  h4 {
    color: $darker-color;
    margin-bottom: 16px;
  }
  p {
    line-height: 22px;
    margin-bottom: 5px;
  }
}


form#footer-contact {
  position: relative;

  input[type="text"] {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: -1px;
    float: left;
    color: #797979;
    font-size: 11px;
    font-family: $base-font-family;
    outline: none;
    border: $border;
    @include border-radius(0);
    @include box-shadow(none);
    @include transition(.2s ease-in-out);

  }

  input[type="text"]:focus,
  textarea:focus {
    border: 1px solid $darker-color;
  }

  textarea {
    display: inline-block;
    width: 100%;
    height: 138px;
    padding: 10px;
    margin: 1px 0 0;
    color: #797979;
    font-size: 11px;
    font-family: $base-font-family;
    outline: none;
    border: $border;
    @include border-radius(0);
    @include box-shadow(none);
    @include transition(.2s ease-in-out);
  }

  button[type="submit"] {
    display: block;
    padding: 12px 16px;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 2;
    background: #fff;
    color: $darker-color;
    font-size: 13px;
    font-family: $base-font-family;
    text-transform: uppercase;
    border: $border;
    @include transition(.2s ease-in-out);
    &:hover {
      opacity: 0.9;
      border: 1px solid $darker-color;
    }
    i {
      font-size: 18px;
      color: $darker-color;
      margin-right: 9px;
      position: relative;
      top: 3px;
    }
  }
  @-moz-document url-prefix() {
    button[type="submit"]  {
      bottom: 0;
    }
  }
}


.contact-list {
  li {
    margin-bottom: 15px;
  }
  a {
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    color: #797979;
    font-size: 12px;
    font-family: $base-font-family;
    text-decoration: none;
    border: $border;
    @include transition(.2s ease-in-out);

    &:hover, &:hover:after, &:hover i {
      color: $darker-color;
      border-color: $darker-color;
    }
    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 100%;
      border-right: $border;
      top: 0;
      left: 0;
      @include transition(.2s ease-in-out);
    }
    i {
      display: inline-block;
      width: 15px;
      font-size: 16px;
      color: #a8a8a8;
      margin-right: 24px;
      vertical-align: middle;
      @include transition(.2s ease-in-out);
    }
  }
}


.footer-line {
  padding: 10px;
  padding-left: 30px;
  background: $darker-color;
  overflow: hidden;

  p {
    float: left;
    padding: 12px 0;
    color: #fff;
    font-weight: 400;
  }
  .go-top {
    display: inline-block;
    position: relative;
    font-size: 18px;
    top: 5px;
    right: 5px;
    float: right;
    width: 33px;
    height: 33px;
    background: #fff;
    text-align: center;
    @include transition(.2s ease-in-out);

    &:hover {
      opacity: 0.7;
    }
    &:hover, &:hover .icon {
      text-decoration: none;
    }
    .icon {
      position: relative;
      top: 6px;
      text-decoration: none;
    }
  }
}
