.top-line {
  overflow: hidden;
  padding: 0;
  background: url('../images/back-pattern.png');
  border-bottom: $border;
  @include transition(.2s ease-in-out);

  .container {
    padding: 12px 0;
    background: rgba(#fff, 0.8);
  }
  p {
    float: left;
    margin: 0;
  }
  p span {
    display: inline-block;
    color: #222;
    font-size: 13px;
    // border-left: $border;
    line-height: 16px;
    margin: 0 8px;
  }
  p span i {
    color: $dark-color;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
  }
}


.social-icons {
  height: 18px;
  float: right;
  padding-right: 20px;

  li {
    display: inline-block;
    margin-left: 16px;
  }
  a {
    display: inline-block;
    margin-bottom: -2px;
    text-decoration: none;
    @include transition(.2s ease-in-out);
    &:hover {
      text-decoration: none;
      @include transform(scale(1.4));
    }
  }
  a i {
    font-size: 17px;
    color: $dark-color;
  }
}

header {
  width: 245px;
  position: fixed;
  top: 43px;
  left: 50%;
  margin-left: -585px;
  z-index: 9999;
  @include transition(.2s ease-in-out);
  &.active {
    top: 0;
  }
}

.header-logo {
  padding: 48px 8px;
  text-align: center;
  background: rgba(17,17,17, 0.9);

  .logo img {
    width: 131px;
  }
}
