.item {
  margin-bottom: 30px;
  h2 {
    margin: 0;
    line-height: 22px;
    color: #000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  a {
    padding: 10px 0;
    display: block;
  }
  p {
    margin-bottom: 10px;
  }
}
.inner-item {
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    @include transition(.2s);
  }
}

.hover-item {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 0;
  li {
    margin-bottom: 5px;
  }
  a, span {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin-left: -100%;
    text-decoration: none;
    background: $main-color;
    i {
      position: relative;
      top: 1px;
      margin-right: 5px;
      font-size: 14px;
      color: #fff;
    }
    .item:hover & {
      margin-left: 0;
    }
  }
  li .tags {
    @include transition(.2s);
  }
  li .date {
    @include transition(.34s);
  }

}
