.main-menu {
  & > li {
    display: block;
    position: relative;
    text-align: center;

    & > a {
      padding: 18px 0 16px;
      display: block;
      position: relative;
      color: #fff;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      border-top: 1px solid rgba(56,56,56,0.2);
      background-color: $main-color;
      @include background-gradient-bottom(rgba(#000,.03), rgba(#fff,.03));
      @include transition(.2s ease-in-out);

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 100%;
        background: $darker-color;
        @include transition(.2s ease-in-out);
      }
      &:hover:after {
        width: 100%;
      }
      &.active {
        color: #222;
        background: #fff;
      }
      &.active:after {
        background: none;
      }
    }
  }
  span {
    display: inline;
    position: relative;
    z-index: 2;
  }
}


.drop-down {
  position: absolute;
  top: 0;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  text-align: left;
  left: 100%;
  @include transition(.2s linear);
  @include transform(rotateY(-90deg));
  @include transform-origin(0 0);
  @include backface-visibility(hidden);

  li {
    border-top: 1px solid #ccc;
    position: relative;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
  a {
    display: block;
    color: #555;
    font-size: 13px;
    padding: 18px 18px;
    text-decoration: none;
    text-transform: capitalize;
    background: rgba(245,245,245,0.9);
    @include transition(.2s ease-in-out);

    &:hover {
      background: rgb(255,255,255);
      color: #000;
    }
  }
}

li.drop:hover > .drop-down {
  visibility: visible;
  opacity: 1;
  @include transition(.2s linear);
  @include transform(rotateY(0deg));
}

.drop-down li.drop > a span:after {
  top: -2px;
  color: #cbcccc;
}

a.elemadded {
  display: none;
  position: relative;
  padding: 17px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid rgba(56,56,56,0.2);
  text-align: center;
  background-color: $darker-color;
  @include background-gradient-bottom(rgba(#000,.05), rgba(#fff,.05));
  @include backface-visibility(hidden);
}
