article {
  padding-bottom: 50px;

  p {
    margin-bottom: 20px;
    line-height: 1.5em;
  }
  ul {
    padding-left: 30px;
    font-size: 13px;
    color: $text-light-color;
    list-style-type: square;
  }
  li {
    list-style: square;
    padding-left: 8px;
    line-height: 1.5em;
  }
  .tags {
    display: block;
    margin-top: 40px;
  }
  .metadata {
      margin: 40px 0;
      font-size: 14px;
  }
  
}
