#container {
  position: relative;
  z-index: 3;
  padding: 0;
  margin-bottom: 50px;
}

.inner-content {
  padding-left: 245px;
}

.content-sections {
  padding: 30px 30px 0;
  background: #fff;
}

.content-sections > .section {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.content-sections > .section:last-of-type {
  border-bottom: 1px solid transparent;
  margin-bottom: 0px;
  padding-bottom: 40px;
}


.services-post {
  padding: 10px 0;
  margin-bottom: 30px;
}

.services-post > a {
  cursor: default;
  position: relative;
  display: inline-block;
  float: left;
  width: 66px;
  height: 66px;
  background: $main-color;
}

.services-post > a:after {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  border: 3px solid $main-color;
  left: -7px;
  top: -7px;
}

.services-post > a i {
  font-size: 26px;
  color: #fff;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 66px;
}

.services-post-content {
  margin-left: 86px;
}

.services-post-content h4 {
  margin-bottom: 8px;
}

.theme {
  overflow: hidden;
  margin-bottom: 30px;
  border: $border;
}

.theme h2 {
  color: #000;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.theme-img {
  position: relative;
}

.theme-img img {
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.theme-content {
  background: #fff;
  padding: 20px;
  border-top: $border;
}

.theme-content span {
  margin-top: 5px;
  display: inline-block;
  color: $main-color;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(86,108,172,0.8);
  @include transition(.2s);
  @include transform(scale(0));
  -webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
}
.hover-box-links {
  width: 100%;
  position: absolute;
  top: 42%;
  text-align: center;
}

.hover-box a {
  width: 50px;
  height: 50px;
  padding: 10px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  font-size: 2em;
  color: #fff;
  @include transition(.2s);
}
.hover-box a:hover {
  color: #222;
  text-decoration: none;
}

.theme:hover .hover-box,
.theme:hover .hover-box a {
  @include transform(scale(1));
  -webkit-backface-visibility: hidden;
}


h3 a.pull-right {
  font-size: 18px;
  text-decoration: none;
}
h3 a.pull-right:hover {
  text-decoration: none;
}


.tab-content-box {
  text-align: center;
  padding: 60px;
  border: $border;
}

.tab-box {
  padding: 50px 60px;
  border: $border;
  min-height: 334px;
  overflow: hidden;
}

.tab-content {
  display: none;
  overflow: hidden;
}

.tab-content img {
  float: left;
  width: 200px;
  margin-left: 6px;
  margin-top: -6px;
}

.tab-content p {
  margin-bottom: 12px;
}

.tab-content p span {
  color: $darker-color;
  font-weight: bold;
}

.tab-content .content-tab-elem {
   margin-left: 290px;
}
.tab-content .content-tab-elem h3 a {
  opacity: 0.7;
  @include transition(.2s);
}
.tab-content .content-tab-elem h3 a:hover {
  opacity: 1;
}

.tab-content:first-child {
  display: block;
}

ul.tab-links {
  border: $border;
  border-top: none;
  overflow: hidden;
  margin-bottom: 40px;
}

ul.tab-links li {
  float: left;
  width: 20%;
  height: 80px;
  text-align: center;
  border-left: $border;
}

ul.tab-links li:first-child {
  border-left: none;
}

ul.tab-links li a {
  display: inline-block;
  width: 100%;
  height: 80px;
  overflow: hidden;
  padding: 12px 5px;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  background: #fff;
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

ul.tab-links li a i {
  font-size: 30px;
  color: $dark-color;
  display: block;text-align: center;
  margin-bottom: 6px;
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

ul.tab-links li a:hover,
ul.tab-links li a.active {
  color: #fff;
  background: $dark-color;
}

ul.tab-links li a:hover i,
ul.tab-links li a.active i {
  color: #fff;
}

ul.tab-links li a svg {
  height: 31px;
}



/*-------------------------------------------------*/
/* =  Contact
/*-------------------------------------------------*/

.text-input {
  overflow: hidden;
}

.float-input,
.float-input2 {
  width: 50%;
  float: left;
  padding-right: 7px;
  position: relative;
}

.textarea-input {
  position: relative;
}

.float-input span,
.float-input2 span,
.textarea-input span {
  position: absolute;
  top: 13px;
  left: 14px;
  z-index: 2;
}

.float-input2 span {
  left: 18px;
}
.float-input2 {
  padding-right: 0px;
  padding-left: 7px;
}


.comment-form input[type="text"],
.comment-form textarea {
  display: block;
  width: 100%;
  padding: 12px 32px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: 1px solid #e6e6e6;
  @include border-radius(0);
  @include transition(.2s);
}

.comment-form input[type="text"]:focus,
.comment-form textarea:focus {
  border: 1px solid $darker-color;
}

.comment-form input[type="submit"] {
  float: right;
  padding: 13px 20px;
  margin-top: 8px;
  background: $main-color;
  color: #fdfdfd;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  @include transition(.2s);
}

.comment-form input[type="submit"]:hover {
  opacity: 0.8;
}

.msg {
  height: 48px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $text-light-color;
}


/*-------------------------------------------------*/
/* =  services
/*-------------------------------------------------*/

.tag-list {
  padding: 30px 0;
}
.tag-list li {
  margin-bottom: 10px;
}

.row .table {
  color: $text-light-color;
}
.row .table-hover>tbody>tr {
  transition: .1s;
}
.row .table-hover>tbody>tr:hover {
  background-color: $lightest-color;
}


.row .table-lined td {
  padding: 10px;
}
.row .table-lined .table-icon-cell {
  padding: 10px 20px;
}
.row .table-lined tr i[class^="icon-"] {
  position: relative;
  top: 2px;
  font-size: 16px;
}


/*-------------------------------------------------*/
/* =  Shortcodes
/*-------------------------------------------------*/

.text-section {
  margin-bottom: 20px;
}

.text-shortcode p {
  margin-bottom: 10px;
}

.text-image {
  overflow: hidden;
  margin-bottom: 20px;
}

.text-image.image-left img {
  float: left;
  margin-right: 20px;
}

.text-image.image-right img {
  float: right;
  margin-left: 20px;
}

// custom
.services-post>a i {
  font-size: 30px;
}
.services-post>a i.icon-mobile {
  font-size: 32px;
}

#disqus_thread {
  padding-bottom: 50px;
}
