---
layout: page
title: O PixelTech
permalink: /o-nas/
---
<!-- Features -->
<div class="features">
  <div class="row">
    <div class="col-md-4">
      <div class="services-post">
        <a><i class="icon icon-rocket"></i></a>
        <div class="services-post-content">
          <h4>Moderní</h4>
          <p>Na projekty používáme nejmodernější technologie. Progresivní frameworky a&nbsp;knihovny napomáhají rychlosti a stabilnímu chodu aplikace.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="services-post">
        <a><i class="icon icon-mobile"></i></a>
        <div class="services-post-content">
          <h4>Responzivní</h4>
          <p>Všechny naše webové stránky a aplikace tvoříme zásadně responzivní. Kvalitní zobrazení obsahu na mobilních zařízeních je dnes nutností.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="services-post">
        <a><i class="icon icon-file-text2"></i></a>
        <div class="services-post-content">
          <h4>Zdokumentované</h4>
          <p>Naše práce jsou přehledně zdokumentované a to včetně zdrojových kódů. To zajistí snadné porozumnění a rozšířitelnost projektu.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Technologies -->
<div class="tabs">
  <h3 style="margin:20px 0">
    Používané technologie
  </h3>
  <div class="tab-box">
    <div class="tab-content active">
      <img alt="" src="{{ site.url }}/images/technologies/wordpress.png">
      <div class="content-tab-elem">
        <h3>WordPress<a href="https://wordpress.com" class="pull-right" target="_blank"><i class="icon-link"></i></a></h3>
        <p>WordPress jakožto nejpoužívanější CMS (Content Management System) na světě <span>zvládáme na jedničku</span>. Na tomto tradičním systému stojí zhruba 20% internetu. Základní administrace stránek ve WordPressu je jednoduchá a intuitivní, navíc díky obrovské komunitě uživatelů jsou na internetu hromady návodů k obsluze. Nechte si udělat web radši od profesionálů, ne od šikovného syna Vaší známé.</p>
      </div>
    </div>
    <div class="tab-content">
      <img alt="" src="{{ site.url }}/images/technologies/opencart.png">
      <div class="content-tab-elem">
        <h3>OpenCart<a href="http://www.opencart.com" class="pull-right" target="_blank"><i class="icon-link"></i></a></h3>
        <p>OpenCart je velmi praktické řešení pro internetové obchody a jejich správu. Tato <span>e-shopová platforma</span> podporuje vícejazyčné obchody, různé světové měny a jejich přepínání. V přehledném administračním rozhraní lze spravovat e-shop a nastavit většinu vlastností e-shopu i&nbsp;bez znalosti programování.</p>
        <p>Jako složitější a propracovanější alternativu občas zvolíme <span>PrestaShop</span>. PrestaShop je obecně profesionálnější a obohacenější na funkce, ale o to více je tento systém složitější a naučit se s ním pracovat vyžaduje více úsilí.</p>
      </div>
    </div>
    <div class="tab-content">
      <img alt="" src="{{ site.url }}/images/technologies/laravel.png">
      <div class="content-tab-elem">
        <h3>Laravel<a href="https://laravel.com" class="pull-right" target="_blank"><i class="icon-link"></i></a></h3>
        <p>Laravel je podle statistik momentálně <span>nejoblíbenější a nejpoužívanější PHP framework</span> pro webové aplikace. Tento open source framework využívá softwarovou architekturu MVC a jádro frameworku staví na už ověřených nástrojích pro webový vývoj jako jsou PHP framework Symfony, dependency manager Composer, Eloquent ORM a nebo šablonovací systém Blade.</p>
      </div>
    </div>
    <div class="tab-content">
      <img alt="" src="{{ site.url }}/images/technologies/jekyll.png">
      <div class="content-tab-elem">
        <h3>Jekyll<a href="https://jekyllrb.com" class="pull-right" target="_blank"><i class="icon-link"></i></a></h3>
        <p>Nástroj pro tvorbu <span>statických stránek</span> s jednoduchou strukturou souborů a snadnou rozšířitelností. Statické stránky nepoužívají žádné PHP ani databázi. Díky absenci výpočtů na straně serveru jsou stránky <span>rychlé</span>, <span>zabezpečené</span> a&nbsp;nepotřebují pravidelné updatování. Vývoj stránek je rychlejší a levnější, ale všechny změny nebo přidávání aktualit musí být prováděny z naší strany.</p>
        <p>Náš další podobný a oblíbený nástroj je <span>Hexo.io</span>. Ten má s Jekyllem mnoho společného, ale navíc je obohacen o některé funkce a doplňky. </p>
      </div>
    </div>
    <div class="tab-content">
      <img alt="" src="{{ site.url }}/images/technologies/sass.png">
      <div class="content-tab-elem">
        <h3>Sass<a href="http://sass-lang.com" class="pull-right" target="_blank"><i class="icon-link"></i></a></h3>
        <p>Díky tomuto <span>CSS preprocesoru</span> máme ve stylech pořádek. Sass totiž dovoluje použití číselných i textových proměnných, funkcí, mixinů, vnořování kódu nebo třeba inline importy. Nakonec se kód přeloží do obyčejného CSS, se kterým si rozumí každý prohlížeč. Většina našich projektů využívá syntaxi <span>SCSS</span>.</p>
      </div>
    </div>
  </div>
  <ul class="tab-links">
    <li><a class="tab-link1 active" href="#"><i class="icon-wordpress"></i> WordPress</a></li>
    <li><a class="tab-link2" href="#"><i class="icon-opencart"></i> OpenCart</a></li>
    <li><a class="tab-link3" href="#"><i class="icon-laravel-icon"></i> Laravel</a></li>
    <li><a class="tab-link4" href="#"><i class="icon-jekyll-icon"></i> Jekyll</a></li>
    <li><a class="tab-link5" href="#"><i class="icon-sass-icon"></i> Sass</a></li>
  </ul>
</div>
