---
layout: page
title: Kontaktujte nás
permalink: /kontakt/
---

<p>
 Můžete nám napsat s čímkoli. Například když objevíte chybu v nějakém projektu, šabloně, pluginu, či na těchto stránkách.
 Nebo pokud byste chtěli realizovat nějaký projekt a nevěděli, kde začít. A nebo jen tak.
</p>
<br><br>
