---
layout: default
---

<!-- Latest Projects -->
<div class="section">
  <h3>Projekty a co je aktuální</h3>
  {% include project_list.html limit=3 %}
</div>

<!-- Latest Templates -->
<div class="section">
  <h3>Nejnovější šablony</h3>
  {% include template_list.html limit=3 %}
</div>

<!-- Latest Plugins -->
<div class="section">
  <h3>Nejnovější pluginy a doplňky</h3>
  {% include plugin_list.html limit=5 %}
</div>
