<footer>
  {% if page.url == "/" or page.url == "/kontakt/" %}
    <div class="up-footer">
      <div class="row">

        <div class="col-md-8">
          <div class="widget footer-widgets message-widget">
            <h4>Napište nám</h4>
            <form id="footer-contact" class="contact-form" action="{{ site.url }}/php/contact.php" method="POST">
              <input type="text" name="name" id="name" placeholder="Jméno"/>
              <input type="hidden" name="h1" />
              <input type="text" name="mail" id="mail" placeholder="Email"/>
              <input type="number" name="h2" id="phone" style="display:none;" placeholder="Phone" />
              <textarea name="comment" id="comment" placeholder="Zpráva"></textarea>
              <input type="hidden" name="h3" value="x_5g9avl" />
              <button type="submit" name="contact-submit" class="submit_contact">
                <i class="icon-mail"></i> Odeslat
              </button>
              <div class="msg"></div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget footer-widgets info-widget">
            <h4>Kontakt</h4>
            <ul class="contact-list">
              <li><a class="mail" href="mailto:info@pixeltech.cz"><i class="icon-mail"></i> info@pixeltech.cz</a></li>
              {% comment %}
              <li><a class="phone" href="tel:+420123345567"><i class="icon-phone"></i>123 345 567</a></li>
              <li><a class="address"><i class="icon-home"></i> address</a></li>
              {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $('.submit_contact').on('click', function(e){
        e.preventDefault();

        var name = $('#name');
        var mail = $('#mail');
        var phone = $('#phone');
        var comment = $('#comment');
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        var error = false;

        if (name.val().length <= 4) {
          name.css('border', '1px solid #db6578');
          error = true;
        } else { name.removeAttr('style'); }

        if (mail.val().length <= 8 || !regex.test(mail.val())) {
          mail.css('border', '1px solid #db6578');
          error = true;
        } else { mail.removeAttr('style'); }

        if (comment.val().length <= 16) {
          comment.css('border', '1px solid #db6578');
          error = true;
        } else { comment.removeAttr('style'); }

        if (!error && phone.val().length === 0) {
          $.ajax({
            type: "POST",
            url: '/php/contact.php',
            cache: false,
            data: $('.contact-form').serialize(),
            success: function(data){
              if(data == 'OK'){
                $('#name').val('');
                $('#mail').val('');
                $('#comment').val('');
                $('.msg').html("Vaše zpráva byla úspěšně odeslána");
              }else{
                $('.msg').html("Omlouváme se, při odesílání nastala chyba");
              }
            }
          });
        }

      });
    </script>
  {% endif %}

  <div class="footer-line">
    <p>&copy; 2016 PixelTech.cz</p>
    <a class="go-top" href="#"><i class="icon icon-chevron-thin-up"></i></a>
  </div>

</footer>
