<div class="top-line">
  <div class="container">
    {% comment %}
    <p><span><i class="icon-mail"></i>info@pixeltech.cz</span></p>
    {% endcomment %}
    <ul class="social-icons">
      <!-- <li><a class="github" href="index.html#"><i class="icon icon-github"></i></a></li> -->
      <li><a class="codepen" href="http://codepen.io/Empe_/"><i class="icon icon-codepen"></i></a></li>
      <!-- <li><a class="dribbble" href="index.html#"><i class="icon icon-dribbble"></i></a></li> -->
      <li><a class="youtube" href="https://www.youtube.com/channel/UCgalA972TAJ8jQew9Ka1deA"><i class="icon icon-youtube-play"></i></a></li>
    </ul>
  </div>
</div>

<header class="clearfix">
  <div class="header-logo">
    <a class="logo" href="{{ site.url }}">
      <img alt="PixelTech" src="{{ site.url }}/images/logo.png">
    </a>
  </div>
  <a class="elemadded responsive-link" href="#">Menu</a>
  <div class="navbar-vertical">
    <ul class="main-menu">
      <li>
        <a href="{{ site.url }}"{% if page.url == '/' %} class="active"{% endif %}><span>Úvod</span></a>
      </li>
      <li>
        <a href="{{ site.url }}/o-nas/"{% if page.url == '/o-nas/' %} class="active"{% endif %}><span>O nás</span></a>
      </li>
      <li>
        <a href="{{ site.url }}/projekty/"{% if page.url == '/projekty/' %} class="active"{% endif %}><span>Projekty</span></a>
      </li>
      <li>
        <a href="{{ site.url }}/sablony/"{% if page.url == '/sablony/' %} class="active"{% endif %}><span>Šablony</span></a>
      </li>
      <li>
        <a href="{{ site.url }}/pluginy/"{% if page.url == '/pluginy/' %} class="active"{% endif %}><span>Pluginy</span></a>
      </li>
      <li>
        <a href="{{ site.url }}/kontakt/"{% if page.url == '/kontakt/' %} class="active"{% endif %}><span>Kontakt</span></a>
      </li>
      {% comment %}
      <li class="drop"><a href="#"><span>Dropdown</span></a>
        <ul class="drop-down">
          <li><a href="#"><span>Item</span></a></li>
        </ul>
      </li>
      {% endcomment %}
    </ul>
  </div>
</header>
