<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-lined">
      <tbody>
        {% for plugin in site.data.plugins limit:include.limit %}
          <tr>
            <td>
              {{ plugin.title }}
            </td>
            <td class="text-right">
              {{ plugin.tag }}
            </td>
            <td class="text-right table-icon-cell">
              <a href="{{ site.url }}/files/plugins/{{ plugin.file }}"><i class="icon-download"></i></a>
            </td>
            <td class="text-left table-icon-cell">
              <a href="{{ plugin.url }}" target="_blank"><i class="icon-link"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
