<div class="row">
  {% for post in site.posts limit:include.limit %}
    <div class="col-sm-4 col-md-4{{ include.columns }}">
      <div class="item">

        <div class="inner-item">
          {% if post.image.size > 0 %}
          <img alt="" src="{{ site.url }}/images/projects/{{ post.image }}">
          {% else %}
          <img alt="" src="{{ site.url }}/images/projects/default.png">
          {% endif %}
          <div class="hover-item">
            <ul>
              {% if post.tags.size > 0 %}
              <li><span class="tags"><i class="icon-price-tag"></i> {{ post.tags | join: ', ' }}</span></li>
              {% endif %}
              <li><span class="date"><i class="icon-calendar"></i> {{ post.date | date: "%-d. %-m. %Y" }}</span></li>
            </ul>
          </div>
        </div>

        <h2>
          <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
        </h2>

        <p>{{ post.description }}</p>

      </div>
    </div>
  {% endfor %}
</div>
