<div class="row">
  {% for template in site.data.templates limit:include.limit %}
    <div class="col-sm-4 col-md-4">
      <div class="theme">

        <div class="theme-img">
          <img alt="" src="{{ site.url }}/images/{{ template.image }}">
          <div class="hover-box">
            <div class="hover-box-links">
              {% if template.demo %}
              <a href="{{ template.demo }}" target="_blank" data-toggle="tooltip" title="Demo">
                <i class="icon-eye"></i>
              </a>
              {% endif %}
              <a href="{{ site.url }}/files/templates/{{ template.file }}" target="_blank" data-toggle="tooltip" title="Download">
                <i class="icon-download"></i>
              </a>
              <a href="{{ template.url }}" target="_blank" data-toggle="tooltip" title="Link">
                <i class="icon-link"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="theme-content">
          <h2>{{ template.title }}</h2>
          <span>{{ template.description }}</span>
        </div>

      </div>
    </div>
  {% endfor %}
</div>
