<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="container" class="container">

      {% include header.html %}

      <div id="content">
        <div class="inner-content">

          <div class="content-sections">

            {{ content }}

          </div>

          {% include footer.html %}

        </div>
      </div>

    </div>

  </body>

</html>
