---
layout: default
---
<div class="page">

  <h1 itemprop="headline">
    {% if page.title %}
      {{ page.title }}
    {% elsif page.tag %}
      #{{ page.tag }}
    {% endif %}
  </h1>

  {{ content }}

</div>
