---
layout: default
---
<article class="post">

  <h1 itemprop="headline">{{ page.title }}</h1>

  <p class="metadata">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%-d. %-m. %Y" }}
    </time>
  </p>


  {{ content }}


  {% if page.tags.size > 0 %}
    <div class="tags">
      {% for tag in page.tags %}
        <a href="{{ site.url }}/tag/{{ tag }}/">#{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </div>
  {% endif %}

</article>


<div id="disqus_thread"></div>
<script>

var disqus_config = function(){
  this.page.url = "http://pixeltech.cz";
  this.page.identifier = "{{ page.url }}";
};
(function(){
  var d = document, s = d.createElement('script');
  s.src = '//pixeltech.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Zapněte prosím Javascript pro zobrazení <a href="https://disqus.com/?ref_noscript">komentářů (Disqus)</a>.</noscript>
