---
layout: page
---

{% comment %} h1 for tags moved to _layouts/page.html
<!-- <h1>#{{ page.tag }}</h1> -->
{% endcomment %}

<ul class="tag-list">
  {% for post in page.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      ({{ post.date | date: "%-d. %-m. %Y" }})
    </li>
  {% endfor %}
</ul>
